@charset "UTF-8";

* {
margin: 0;
padding: 0;

}

body {
/* 	background-image: url("https://media.istockphoto.com/vectors/watercolor-orange-color-wave-background-vector-id853960160?s=2048x2048");
	 background-repeat: no-repeat;
  background-size: cover; */
   background: url('/images/front.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
}

h3{
	background-color: #0c0b0b;
	padding: 6px;
	border-radius: 10px 10px 0 0;
}



nav {
	background-color:#0c0b0b;
}



.editform {

	background-color: white;
	width:300px;
	height: 570px;
	margin: auto;
	margin-top: 10vh;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
}

input, select{
	margin-top: 10px;
}


.edit {
	background-color: #6dcfd6;
	width: 76px;
	border-radius: 10px;
}

.edit:hover {
	background-color: #3deaf7;
}
