@charset "UTF-8";

* {
margin: 0;
padding: 0;

}

body {
	
	/* background-image: url("https://media.istockphoto.com/vectors/set-of-tools-and-materials-for-handmade-jewelry-beads-accessories-vector-id1153437282?s=2048x2048");
	 background-repeat: no-repeat;
  background-size: cover;
   */
    background: url('https://media.istockphoto.com/photos/modern-drawing-in-green-and-blue-tones-vibrant-paint-smudges-isolated-picture-id1210668784?s=2048x2048') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
 /*  background-image:  
              linear-gradient(to bottom, rgba( 
                232, 236, 237, 0.1), rgba( 
                  19, 20, 20, 0.3)), url( 
'https://media.istockphoto.com/vectors/watercolor-abstract-background-with-green-colors-vector-id1293847776?s=2048x2048'); */
  /* background-image:  
              linear-gradient(to bottom, rgba( 
                232, 236, 237, 0.62), rgba( 
                  19, 20, 20, 0.58)), url( 
'https://media.istockphoto.com/vectors/watercolor-abstract-background-with-green-colors-vector-id1293847776?s=2048x2048'); 
            width: 100%; 
             height: 100vh;  
            background-size: cover;
} */
}

h3{
	background-color: black;
	padding: 6px;
	border-radius: 10px 10px 0 0;
	
}


.registerform {
	background-color: white;
	height:575px;
	width:500px;
	border-radius: 10px;
	margin: auto;
	margin-top: 15vh;
	box-shadow: 0 0 10px gray;
	
}

.registerform h3 a {
	text-decoration: none;
}

.join {
	background-color: #32AEA0;
	border-radius: 5px;
	border: 1px solid #1E7E33;
}


.join:hover {
	background-color: #5fddc0;
	border-radius: 5px;
	
}


label.hidden {
	clip:rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin:-1px;
	overflow:hidden;
	padding: 0;
	/* position: absolute; */
}





