@charset "UTF-8";

* {
margin: 0;
padding: 0;

}

body {
	
	/* background-image: url("https://media.istockphoto.com/vectors/set-of-tools-and-materials-for-handmade-jewelry-beads-accessories-vector-id1153437282?s=2048x2048");
	 background-repeat: no-repeat;
  background-size: cover;
   */
    background: url('https://media.istockphoto.com/vectors/set-of-tools-and-materials-for-handmade-jewelry-beads-accessories-vector-id1153437282?s=2048x2048') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h3{
	background-color: black;
	padding: 6px;
	border-radius: 10px 10px 0 0;
}


.registerform {
	background-color: white;
	height:575px;
	width:500px;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	box-shadow: 0 0 10px gray;
}

.join {
	background-color: #8DC53F;
	border-radius: 10px;
	
}




