@charset "UTF-8";


* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

/* html {
	scroll-behavior: smooth;
}
 */
body {
	background:#E7E7E7;
}

a {
	color: #01937A;
	font-weight: 300;
}

nav {
	background-color:#0c0b0b;
}

#jumbo{
            background-image: url("/images/front.jpg");
            height: 20vh;
            background-size: cover; 
}



/* .lead {
	margin-top: 1vh;
} */
        
h3{
	background-color: black;
	padding:15px; 
	color: white;
	/* border-radius: 10px 10px 0 0;  */
}


.info {
	background-color: #E7E7E7;
	margin:auto;
	padding:12px;
	
}

/* .container1 {
	width: 400px;
	margin: auto;
	background-color: #5fddc0;
	border: 1px red solid;
	border-radius: 10px;
	
} */

.lcontainer1 {
	background-color: #E7E7E7;
}

.lcontainer2 {
	background-color: #E7E7E7;
}

i {
	color: black;
	
}



 .lcontainer {
	
	border: 1px #C2C2C2 solid;
	padding: 0;
} 

h4 {
	padding: 15px;
	margin-top:12px;
}
/* .container2 {
	width: 400px;
	margin: auto;
	background-color: #6dcfd6;
	border: 1px red solid;
	border-radius: 10px;
	
} */

span {
	font-family: 'Roboto', sans-serif;
}


/* .container3 {
	width: 400px;
	margin: auto;
		background-color: #3deaf7;
	border: 1px red solid;
	border-radius: 10px;

} */

.lcontainer3 {
	
	
	background-color: #E7E7E7;
	
	

}


.submit {
	background-color: #32AEA0;
	
}

.submit:hover {
	background-color: #5fddc0;
}

.textarea {
	width:340px;
	
}



.container4 {
	
	background-color: #E7E7E7;
	padding: 12px;
	border: 4px #C2C2C2 solid;
}
footer {
	background-color:#0c0b0b;
	height: 76px;
	margin-top: 14vh;
	
}
