@charset "UTF-8";

* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

body {
	background: #E7E7E7; 
	/* background: #B2E1EA; */
	
}

a {
	color: #01937A;
	font-weight: 300;
}

a:hover {
	color: #00705b;
	/* background-color: #00705b; */
	text-decoration: none;
}


.front {
	background-color: #5fddc0;
	  /*  background: url('https://media.istockphoto.com/vectors/watercolor-sky-and-cloud-vector-id1164085217?s=2048x2048') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
 */
/*    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('https://media.istockphoto.com/vectors/watercolor-mountains-green-vector-id1174820578?s=2048x2048') no-repeat center center fixed;
 */    /*  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://media.istockphoto.com/vectors/watercolor-mountains-green-vector-id1174820578?s=2048x2048');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px; */
   
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
/*   background:linear-gradient(#004092, #020202, transparent),  url('https://media.istockphoto.com/vectors/watercolor-texture-vector-id482278619?s=2048x2048') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   background-size: cover; 
  -o-background-size: cover; */
   
  
    /*         background-image:  
              linear-gradient(to bottom, rgba( 
                232, 236, 237, 0), rgba( 
                  19, 20, 20, 0.2)), url( 
'https://media.istockphoto.com/vectors/watercolor-texture-vector-id482278619?s=2048x2048'); 
            width: 100%; 
             height: 100vh;  
            background-size: cover; */
        
  
}

nav {
	background-color:#0c0b0b;
}


.front-h1 {
	color: white;
	
	font-size: 700%;
	font-weight: 900;
	margin-top: 25vh;
	
}


.lead {
	color: white;
	
	font-weight: 300; 
	
}

.tag {
	margin-top: 150px;
}



#jumbo{
            background-image: url("https://media.istockphoto.com/vectors/blue-watercolor-stripes-background-vector-id986442810?s=2048x2048");
            height: 40vh;
            background-size: cover; 
            
    /*           background: url('https://media.istockphoto.com/vectors/watercolor-blue-abstract-background-vector-id874406474?s=2048x2048') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
        }
        
    
h3{
	background-color: black;
	padding: 6px;
	border-radius: 10px 10px 0 0;
	
}

.createform {
	
	background-color: white;
	width:245px;
	height: 580px;
	margin: auto;
	margin-top: 75px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	margin-bottom: 25px;
}

.createform2 {
	
	background-color: white;
	
	padding:10px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	/* margin-bottom: 10px; */
}

.formcontainer {
	margin-top: 25px;
	border: 1px solid red;
} 

.maintable {
	margin: auto;
	border: 4px #C2C2C2 solid;
	padding: 50px;
	
	
}

thead {
	
	background-color:#212121;
	
	
	color:#C2C2C2;
	
}

.create {
	background-color: #32AEA0;
	border-radius: 5px;
	
	
	
}

.create:hover {
	background-color: #5fddc0;
}


.err {
	font-size: small;
	
}



.attend {
	background-color: #32AEA0;
}

.attend:hover {
	background-color: #5fddc0;
}

.edit {
	background-color: #6dcfd6;
	width: 76px;
}

.edit:hover {
	background-color: #3deaf7;
}

.delete {
	background-color: #FF9999;
	width: 76px;
}

.delete:hover {
	background-color: #FF7070;
}

.kommit {
	width: 76px;
}

.kommit:hover {
	background-color: #5fddc0;
}

.cancel {
	width: 76px;
}
.cancel:hover {
	background-color: #FF7070;
}

 footer {
	height: 76px; 
	background-color:#0c0b0b;
}
 
.frontfoot {
	
	background-color:#0c0b0b;
	height: 76px;
	margin-top: 45vh;
	
}